<%@ Master Language="C#" MasterPageFile="~/Base.master" AutoEventWireup="true" CodeBehind="Anonimo.master.cs" Inherits="UNLAM_PW3_20161C.Anonimo" %>
<asp:Content ID="head" ContentPlaceHolderID="baseHead" runat="server">
    <asp:ContentPlaceHolder ID="anonimoHead" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="body" ContentPlaceHolderID="baseBody" runat="server">
    <asp:ContentPlaceHolder ID="anonimoBody" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
