<%@ Master Language="C#" MasterPageFile="~/Base.master" AutoEventWireup="true" CodeBehind="Cocinero.master.cs" Inherits="UNLAM_PW3_20161C.cocineros.Cocinero" %>



<asp:Content ID="body" ContentPlaceHolderID="baseBody" runat="server">
    <asp:ContentPlaceHolder ID="cocineroBody" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
